@import "tailwindcss";

/* Criando o efeito de vidro com CSS puro para evitar conflitos com o Tailwind v4 */
.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}